<style>
    
body {
    font-size: 20px;
}


@font-face {
    font-family: Back to Black Demo;
    src: url(Back to Black Demo.ttf);
}

@font-face {
    font-family: DK Uncle Edward;
    src: url(DK Uncle Edward.otf);
}

h1 {
    text-align: center;
    font-family: Back to Black Demo;
    font-size: 90px;
    color: white;
}

h2 {
    text-align: left;
    font-family: Verdana;
    font-size: 45px;
    color: white;
}

h3 {
    font-family: Verdana;
    color: MediumVioletRed;
}


nav {
    text-align: right;
    font-family: Verdana;
}

a  {
    color: PaleVioletRed;
}

a:hover {
    color: Plum;
	}

.parent {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#food, #running, #outdoors  {
    border: 10px solid white;
    box-shadow: 5px 10px;
    border-radius: 5px;
    padding: 20px;
}

#me {
    border: 10px solid white;
    text-align: center;
    box-shadow: 5px 10px;
    border-radius: 5px;
    padding: 0px;
}

#info	 {
    border: 10px solid white;
    text-align: center;
    box-shadow: 5px 10px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}

.flex-container {
  display: flex;
  background-color: indigo;
  flex-flow: column;
  border-radius: 5px;
}

.flex-container>div {
  background-color: Plum;
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  text-align: left;
}


@media screen and (max-width: 767px) {
  body {
    background-color: MediumVioletRed;
    font-family: Verdana;
  }
}

@media screen and (min-width: 768px) {

body {
    background-image: url("http://www.coringrillo.com/wp-content/uploads/2017/06/HD-purple-wallpaper-image-to-use-as-background-135.jpg");
    font-family: Verdana;
} 


img {
    width: 100%;
    height: auto;
}

.parent {
    display: flex;
    flex-direction: row;
    display:block;
    float:right;
    padding:0 10px;
}

p {
    font-family: DK Uncle Edward;
    font-size: 50px;
    text-align: center;
    color: MediumVioletRed;
}

.flex-container {
    flex-flow: row;
  }
}

</style>
